uploads
/uploads
uploads/
uploads/*
*/uploads
*/uploads/*
__pycache__
/__pycache__
__pycache__/
__pycache__/*
*/__pycache__
*/__pycache__/*
.streamlit
.streamlit/*
.devcontainer/*
.devcontainer
uploads
uploads/*